@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.app {
    min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}